/* Custom Css */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
body {
  font-family: 'Poppins', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 20px;
}
p {
  font-size: 14px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
