/* Web first Design Responsive  */

/* Laptop device */
@media screen and (max-width: 1200px) {
}
/* Tablet Device */
@media screen and (max-width: 992px) {
}
/* Big Mobile Device */
@media screen and (max-width: 768px) {
}
/* Mobile Device */
@media screen and (max-width: 576px) {
}
